{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}


{% block title %}My cool blog posts{% endblock %}

{% block body %}
 {{ parent() }}
<div class="years">
<button class="but" id="button">2015</button>
<button class="but" id="button1">2016</button>
<button class="but" id="button2">2017</button>
</div>
 <div id="wrappers">
            <div class="chart">
                      <table id="data-table" border="1" cellpadding="10" cellspacing="0">
                    <caption>Количество проданных билетов в течении {{ year }} года</caption>
                    <thead>
                        <tr>
                            <td>&nbsp;</td>
                            <th scope="col">Январь</th>
                            <th scope="col">Февраль</th>
                            <th scope="col">Март</th>
                            <th scope="col">Апрель</th>
                            <th scope="col">Май</th>
                            <th scope="col">Июнь</th>
                            <th scope="col">Июль</th>
                            <th scope="col">Август</th>
                            <th scope="col">Сентябрь</th>
                            <th scope="col">Октябрь</th>
                            <th scope="col">Ноябрь</th>
                            <th scope="col">Декабрь</th>
                                                                           
                        </tr>
                    </thead>
                    <tbody>
                          


                        <tr>   
                        {% set i='' %}
                          {% for inf in information %}
                             {% if i!='' %}
                             <th scope="row">{{i}}</th>
                                   {% endif %}
                              {% for infa in inf %}
                              {% if infa.sum>100000 %}
                              {% set infa = infa|merge({'sum': '10000'}) %}
                              {% endif %}
                                <td>{{ infa.sum }}</td>
                                    {% for descr in description %}

                                  {% if descr.id==infa.type %}
                                {% set i=descr.descr %}
                                {% endif %}
                                     {% endfor %} 
                                {% endfor %}
                                </tr>
                              {% endfor %} 

                          


                      
                       
                           </tbody>
                </table>
            </div>
        </div>
{% endblock %}
 {% block javascripts %}
  {{ parent() }}
 
  {% endblock %}
